doctype
html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='stylesheet', href='css/game.css')

  title=properties.title

  script(src="js/app.js")

body
  #game

  if (!productionBuild)
    script(src="//localhost:35729/livereload.js")
